<div class='row'>
  <div class='panel large-12 columns'>
    <h1>The Emotional Intelligence Quiz</h1>
    <h2>Succeed in College and Beyond</h2>
    <div class='row'>
      <div class='large-6 columns large-centered'>
        <a href='/1' class='expand large button success'>Take the Quiz</a>
      </div>
    </div>
  </div>
</div>
